body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif


h1 {
  text-align: center;
}

h2 {
  padding: 0.25em;
  margin: -0.75em;
  color: #008080;
  line-height: 50px;
  background: linear-gradient(transparent 50%, #fff 50%);
}

h2:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b2 \00A0";
}

h3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f12e \00A0";
}

h4{
  color: #999;
  border-bottom: dashed 2px #999;
}